
Kenil_Simulate_Light_Curve.ipynb
data/m87_crts.csv
/output
.ipynb_checkpoints/lomb_scargle_analysis-checkpoint.ipynb
data/.ipynb_checkpoints/PG1302_CRTS-checkpoint.dat
.ipynb_checkpoints/redfit-checkpoint.ipynb
.ipynb_checkpoints/wwz_analysis-checkpoint.ipynb
/__pycache__
data/CRTS_Markarian_509.xlsx
redfit.log
/.ipynb_checkpoints
